<div class="experience">
    <h3 class="text-center">experience</h3>
    <h4 class="text-center">"I was born not knowing and have had only a little time to change that here and there." - Richard Feynman</h4>
    <hr class="hr-sm">
    <div class="experience col-md-10 col-md-offset-1">  
        <div class="text-center">
            {{#each model as |job|}}
            <div class="bb-15 experience-card" id="{{job.title}}-id" {{action "selectJob" job on="click"}}>
                {{job.title}} at {{job.company}}
            </div>
            {{/each}}
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="info" id="info">
                <h3 id="job-title"></h3>
                <h5 id="job-company"></h5>
                <h5 id="job-location-and-date"></h5>
                <p id="job-description" class="header-text"></p>
                {{!-- <a href="#idealabs">Click to see my work on IDEA Labs</a> --}}
            </div>
        </div>
    </div>
</div>
{{outlet}}
